{% assign _copyright = nil %}{% capture _copyright %}

{% assign _title = '' %}
{% if include.copyright.title %}
{% assign _title = include.copyright.title | append: ' ' %}
{% endif %}

{% assign _owner = site.data.people[include.copyright.owner] %}
{% capture _owner %}{% include author-a.html author = _owner %}{% endcapture %}

{% assign _years = include.copyright.years %}
{% capture _years %}{% include years.html years = _years %}{% endcapture %}

&copy;&ensp;&#x2060;{{ _title }}{{ _owner }}, {{ _years }}.

{% assign _owner = nil %}
{% assign _title = nil %}
{% assign _years = nil %}

{% endcapture %}{{ _copyright }}{% assign _copyright = nil %}