{% assign _copyright = nil %}{% capture _copyright %}

{% capture _owner %}
{% assign _owner = site.data.people[include.copyright.owner] %}
{% include author-a.html author = _owner %}
{% assign _owner = nil %}
{% endcapture %}

{% capture _title %}{{ include.copyright.title }}{{ ' ' }}{% endcapture %}

{% capture _years %}
{% include years.html years = include.copyright.years %}
{% endcapture %}

&copy;&nbsp;{{ _title }}{{ _owner | strip_newlines }}, {{ _years | strip_newlines }}.

{% assign _owner = nil %}

{% endcapture %}{{ _copyright }}{% assign _copyright = nil %}