{% assign _license = nil %}{% capture _license %}

<a href="{% include urinorm value = include.data.text_uri %}"
   rel="license">

{% if include.data.image_uri %}
<img alt="{{ include.data.label | xml_escape }}"
     height="{{ include.data.image_height }}"
     src="{% include urinorm value = include.data.image_uri %}"
     width="{{ include.data.image_width }}">
{% else %}
{{ include.data.label | xml_escape }}
{% endif %}

</a>

{% endcapture %}{{ _license | strip_newlines }}{% assign _license = nil %}