{% assign _menu = nil %}{% capture _menu %}

{% assign _post = nil %}
{% assign _posts = site.posts %}
{% assign _urn = nil %}

<ul>{% for _post in _posts %}

{% if _post.title %}
{% capture _urn %}{{ _post.url | prepend: site.baseurl }}{% endcapture %}
<li><a href="{% include urified value = _urn %}">{{ _post.title }}</a></li>
{% endif %}

{% endfor %}</ul>

{% assign _post = nil %}
{% assign _posts = nil %}
{% assign _urn = nil %}

{% endcapture %}{{ _menu | strip_newlines }}{% assign _menu = nil %}