@import "helpers/functions";

@mixin font-face($path, $name) {
    $name: unquote($name);
    $path: unquote($path);
    @font-face {
        font-family: quote($name);
        src:
            /* Modern IE */
            url("#{$path}.eot?#fix") format("embedded-opentype"),
            local(#{$name}),
            /* Modern browsers only */
            url(#{$path}.woff2) format("woff"),
            /* IE 9+ and others */
            url(#{$path}.woff) format("woff"),
            /* IE 9+ (partially) and others */
            url(#{$path}.otf) format("opentype"),
            url(#{$path}.ttf) format("truetype"),
            /* Safari, WebView, Chrome 38+ on Windows XP and Vista only */
            url(#{$path}.svg##{$name}) format("svg");
    }
}

@mixin box-shadow($value) {
    /* -moz- is for FF from 3.5 to 3.6 */
    /* -webkit- is for Chrome from 4 to 9, Safari from 3.1 to 5 */
    /* No prefix for FF 4, Chrome 10, IE 9, Opera 11.5 and higher */
    @each $prefix in "-moz-", "-webkit-", "" {
        #{$prefix}box-shadow: $value;
    }
}
