@import "helpers/functions";

$color-black:      #000;
$color-blue-dark:  #369;
$color-blue-light: #69c;
$color-gray:       #3f4549;
$color-white:      #fff;

$font-path: fonts/VoladoSerif;
$font-name: extract-filename($font-path);

$prefixes: "-moz-", "-ms-", "-webkit-", "";
