@import "helpers/variables";

@media print {

    a {
        color: $color-black;
    }

    body {
        background: $color-white;
        color: $color-black;
    }

    footer,
    header {
        display: none;
    }

    main {
        @include box-shadow(none);
    }
}
