{% capture cache %}
  {% assign author = site.data.people[page.author] %}
  {% capture urn %}{{ site.baseurl | uri_escape | xml_escape }}{% endcapture %}
{% endcapture %}{% assign cache = nil %}<!DOCTYPE html>
<html lang="{{ page.lang | xml_escape }}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="width">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes">
{% capture title %}
{% if page.title %}
{{ page.title }}
{% if site.title %}
|
{% endif %}
{% endif %}
{% if site.title %}
{{ site.title }}
{% endif %}
{% endcapture %}<title>{{ title | strip_newlines | xml_escape }}</title>
<meta name="description" content="{{ page.description | xml_escape }}">
<link rel="stylesheet" href="{{ '/css/main.css' | prepend: urn }}">
<!--[if lt IE 9]>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<![endif]-->
<script data-main="{{ '/js/init.js' | prepend: urn }}"
        defer
        src="{{ '/js/requirejs/require.js' | prepend: urn }}"></script>
<link rel="author" href="{{ author.site }}">
<link rel="canonical"
      href="{{ page.url | remove: 'index.html' | prepend: uri }}">
</head>
<body>
  <header role="banner">
    <a href="#main">Главное</a>
    <div>
      <a href="{{ site.baseurl | uri_escape | escape }}/">{{ site.title | escape }}</a>
      <ul>{% for home in site.home %}
    <li><a href="{{ home[1].url }}">{{ home[1].title }}</a>
  {% endfor %}</ul>
    </div>
    <nav role="navigation">{% include nav.html %}</nav>
    <nav role="navigation">Переводы: {% include translations.html %}</nav>
  </header>
  <main id="main" role="main" tabindex="-1">
    {{ content | escape_once }}
    <section>{% include comments.html %}</section>
  </main>
  <footer role="contentinfo">
    <p>© Караваев С. В., <time datetime="2015">2015</time></p>
    <p>© Оформление. Караваев С. В., <time datetime="2015">2015</time></p>
    <p><a href="https://get.adobe.com/reader/otherversions/">Adobe Reader</a>.</p>
  </footer>
</body>
</html>
