---
layout: minifier
---
<!DOCTYPE html>
<html lang="{{ page.lang | xml_escape }}" manifest="manifest.appcache">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{% include title %}</title>
    <meta name="description" content="{{ page.description | xml_escape }}">
    {% include css resources = site.data.resources.css %}
    {% include js resources = site.data.resources.js %}
    {% assign author = site.data.people[page.author] %}
    <link rel="author" href="{% include urified value = author.site %}">
    <link rel="canonical" href="{% include uri %}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  </head>
  <body tabindex="-1">
    <header>
      <div>
        <a href="{{ site.baseurl }}/">{{ site.title | xml_escape }}</a>
      </div>
      <nav>{% include nav.html %}</nav>
    </header>
    <main class="hyphenate">
      {{ content | escape_once }}
    </main>
    <footer>
      {% include copyright.html %}
      <p><a href="https://get.adobe.com/reader/otherversions/">Adobe Reader</a></p>
    </footer>
  </body>
</html>
