---
layout: minifier
---
<!DOCTYPE html>
<html lang="{{ page.lang | xml_escape }}" manifest="{{ site.baseurl }}/manifest.appcache">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{% include title %}</title>
    <meta name="description" content="{{ page.description | xml_escape }}">
    
    
    {% assign author = site.data.people[page.author] %}
    {% include author-link author = author %}
    {% assign author = nil %}

    <link rel="canonical" href="{% include uri %}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  </head>
  <body tabindex="-1">
    <header>
      <div>
        <a href="{{ site.baseurl }}/">{{ site.title | xml_escape }}</a>
      </div>
      <nav>{% include menu.html %}</nav>
    </header>
    <main class="hyphenate">
      {{ content | escape_once }}
    </main>
    <footer>
      <ul>
      {% for copyright in site.data.copyright %}
      <li>{% include copyright.html copyright = copyright %}</li>
      {% endfor %}
      <li>{% include license.html data = site.data.license %}</li>
      </ul>
    </footer>
    {% include js resources = site.data.resources.js %}
    {% include css resources = site.data.resources.css %}
  </body>
</html>
