@import "helpers/mixins";
@import "helpers/variables";


@each $prefix in "-moz-", "" {
    ::#{$prefix}selection {
        background-color: $color-gray;
        color: $color-white;
    }
}

a {
    color: $color-blue-dark;
    text-decoration: underline;
}

a:hover {
    color: $color-blue-light;
}

body {
    background-color: $color-white;
    color: $color-gray;
}

footer,
header,
main {
    padding: 1%;
}

main {
    min-height: 100%;
}
