body {
    border: none;
    height: 100%;
    /* IE & Opera relative font size cascading bug */
    font-size: 100.01%;
    margin: 0;
    /* IE 7 bug (if the line-height property is not equal to normal) */
    vertical-align: baseline;
}

/**
 * Font size adjust after orientation change
 *
 * @bugfix
 * @affected Safari
 * @valid yes
 */
html {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

iframe,
img {
    border: none;
}

table {
    border-collapse: collapse;
}
