@import "helpers/mixins";
@import "helpers/variables";

@include font-face($font-path, $font-name);

/**
 * Lack of support for 'font-style: inherit' in IE up to and including version 7
 *
 * @bugfix
 * @affected IE <= 7
 * @valid yes
 */
address {
    font-style: normal;
}

li address,
p address {
    display: inline;
}

body {
    font-family: quote($font-name), serif;
    font-size: $font-size-basic;
    line-height: 1.5;
    text-align: justify;
}

code {
    font-family: inherit;
}

h1 {
    counter-reset: section;
    font-size: $font-size-largest;
    margin: 0;
    text-indent: $text-indent;
}

h2 {
    counter-reset: subsection;
    font-size: $font-size-larger;
    margin: 0;
    text-indent: $text-indent;
}

h2:not(#toc):not(#annotation):not(#introduction):not(#conclusion):not(#bibliography):not(#comments):before {
    content: counter(section) ".\2002";
    counter-increment: section;
}

h3 {
    counter-increment: subsection;
    font-size: $font-size-large;
    margin: 0;
    text-indent: $text-indent;
}

h3:before {
    content: counter(section) "." counter(subsection) ".\2002";
}

li,
p {
    margin: 0;
    text-indent: $text-indent;
}

ol,
ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

small {
    font-size: $font-size-small;
}

td,
th {
    padding: 0;
}
