@import "helpers/mixins";
@import "helpers/variables";

@include font-face($font-path, $font-name);

address {
    font-style: normal;
}

address,
h1,
h2,
h3,
li,
p {
    margin: 0;
    text-indent: 1cm;
}

body {
    font-family: quote($font-name), serif;
    line-height: 1.5;
    text-align: justify;
}

ol,
ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

td,
th {
    padding: 0;
}
